 <head> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 </head>

{% if latest_gainer_list %}
    <ul>
    {% for gainer in latest_gainer_list %}
        <li>{{ gainer }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Gainers are available.</p>
{% endif %}

{% if results %}
    <ul>
    {% for stock in stock_list %}
        <li>{{ stock }}</a></li>
    {% endfor %}
    </ul>
{% else %}
{{stock_list}}
    <p>No Stock Symbols are Stored.</p>
{% endif %}


<div class = outer_table>
<table>
    <tr>
        <th>Stock</th>
        <th>Date</th>
        <th>Change Percentage</th>
        <th>Price</th>
    </tr>
        {% for row in gain_df.itertuples %}
        <tr>
            <td>
                {{row.stock}}
            </td>
            <td>
                {{row.date}}
            </td>
            <td>
                {{row.change_percentage}}
            </td>
            <td>
                {{row.price}}
            </td>
        </tr>
        {% endfor %}
</table>
</div>

<div>
    <p><em>Stock Gainers</em></p>
    {{ gainer_graph_div|safe }}
</div>

<div>
    <p><em>Stock Losers</em></p>
    {{ loss_graph_div|safe }}
</div>m 

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="..." alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
  </div>