 <head> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Orbitron&display=swap" rel="stylesheet">
 </head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}">

<h1 style="text-align:center">Stock Dashboard</h1>

<div class="wrapper1">
    <div class="box a">
                {% if latest_gainer_list %}
            <ul>
            {% for gainer in latest_gainer_list %}
                <li>{{ gainer }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No Gainers are available.</p>
        {% endif %}

        {% if results %}
            <ul>
            {% for stock in stock_list %}
                <li>{{ stock }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
        {{stock_list}}
            <p>No Stock Symbols are Stored.</p>
        {% endif %}
    </div>
    <div class="box b">
        <table>
            <tr>
                <th>Stock</th>
                <th>Date</th>
                <th>Change Percentage</th>
                <th>Price</th>
            </tr>
                {% for row in gain_df.itertuples %}
                <tr>
                    <td>
                        {{row.stock}}
                    </td>
                    <td>
                        {{row.date}}
                    </td>
                    <td>
                        {{row.change_percentage}}
                    </td>
                    <td>
                        {{row.price}}
                    </td>
                </tr>
                {% endfor %}
        </table>
        </div>
    <div class="box c"> Future Carousel </div>
</div>

<div class="wrapper2">
    <div></div>
    <div class="box_graph">
            {{ gainer_graph_div|safe }}
    </div>
    <div class="box_graph">
        {{ loss_graph_div|safe }} 
    </div>
    <div></div>
</div>
<!-- <div class="wrapper3">
    <div class="box_graph">
            {{ loss_graph_div|safe }} 
    </div>
</div> -->


<script>     
    var table_index=0;
    var num = 5;

      function show_table() {
          var i; 
          var table_data = document.getElementsByTagName("tr");
          
          for (i=1; i<table_data.length; i++) {
              table_data[i].style.display = "none";
          }
          
          if (table_index > table_data.length -1) {table_index=1}
            for (j=0; j<num; j++) {
              x = j+1+table_index;
              if (x > table_data.length-1) {x=x-11;}
              table_data[x].style.display = "table-row";
             }
            table_index++;
         
          setTimeout(show_table, 7000);
      }
     
      show_table();

</script>