 <head> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Orbitron&display=swap" rel="stylesheet">
 </head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}">

<h1 style="text-align:center">Stock Dashboard</h1>

<div class="wrapper1">
    <div class="box_a">
        <table>
            <h4>Stock Daily Movers</h4>
            <tr class="mover_row">
                <th>Stock</th>
                <th>Date</th>
                <th>Change Percentage</th>
                <th>Price</th>
            </tr>
                {% for row in gain_df.itertuples %}
                <tr class="mover_row">
                    <td>
                        {{row.stock}}
                    </td>
                    <td>
                        {{row.date}}
                    </td>
                    <td>
                        {{row.change_percentage}}
                    </td>
                    <td>
                        {{row.price}}
                    </td>
                </tr>
                {% endfor %}
        </table>
        <br></br>
    </div>
    <div class="box_b">
        <form action="" method="post">
            <legend>Select Stock to Track:</legend>
                {% csrf_token %}
                    {{stock_form.as_ul}}
                <button type="submit">Submit</button>
          </form>
    </div>
    <div class="box_c">
        <table>
            <h4>Recent Stock Articles</h4>
            <tr class="article_row">
                <th>Stock</th>
                <th>Article Name</th>
                <th>Date</th>
            </tr>
                {% for row in articles_df.itertuples %}
                <tr class="article_row">
                    <td>
                        {{row.stock}}
                    </td>
                    <td>
                        {{row.name}}
                    </td>
                    <td>
                        {{row.date}}
                    </td>
                </tr>
                {% endfor %}
        </table>
        <br></br>        
    </div>
</div>

<div class="wrapper2">
    <div></div>
    <div class="box_graph">
            {{ gainer_graph_div|safe }}
    </div>
    <div class="box_graph">
        {{ loss_graph_div|safe }} 
    </div>
    <div></div>
</div>



<script>     
    var table_index=0;
    var num = 5;

      function show_movers_table() {
          var i; 
          var table_data = document.getElementsByClassName("mover_row");
          
          for (i=1; i<table_data.length; i++) {
              table_data[i].style.display = "none";
          }
          
          if (table_index > table_data.length -1) {table_index=1}
            for (j=0; j<num; j++) {
              x = j+1+table_index;
              if (x > table_data.length-1) {x=x-11;}
              table_data[x].style.display = "table-row";
             }
            table_index++;
         
          setTimeout(show_mover_table, 6000);
      }
     
      show_movers_table();

</script>

<script>     
    var table_index=0;
    var num = 4;

      function show_article_table() {
          var i; 
          var table_data = document.getElementsByClassName("article_row");
          
          for (i=1; i<table_data.length; i++) {
              table_data[i].style.display = "none";
          }
          
          if (table_index > table_data.length -1) {table_index=1}
            for (j=0; j<num; j++) {
              x = j+1+table_index;
              if (x > table_data.length-1) {x=x-11;}
              table_data[x].style.display = "table-row";
             }
            table_index++;
         
          setTimeout(show_article_table, 5000);
      }
     
      show_article_table();

</script>