<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Stock Movers Dashboard</title>
  <!-- Import Plotly (does not have to be from CDN) -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

  <header>
    <!-- site-wide header -->
    <h1> Stock Movers Dashboard </h1>
  </header>

  <main>
    <!-- this page’s main content -->

    <span> </span>

    <h3> Top 25 Gainers </h3>

    <div id="plotly-timeseries"></div>
      <script>
        var graph = {{ plot_json | safe }};
        Plotly.plot('plotly-timeseries', graph, {});
      </script>
    </div>

    <h3> Multiple Top 25 Increments </h3>
    <div id = 'plotly-timeseries2'>
      <script>
        var graph2 = {{ plot_json2 | safe}};
        Plotly.plot('plotly-timeseries2', graph2, {});
      </script>
    </div>

    <span> </span>

    <h4> Select Gainers to add for analysis </h4>

    <div align="center">
      <form method = "POST" id="addGainers">
        <select multiple name="gainer">
          {% for g in gainer_name %}
           <OPTION value={{g}}>{{g}}</option>
             {% endfor %}
           </select>
        <button type = "submit" class = "btn btn-default"> SELECT </button>
      </form>
    </div>

                <!--Jquery Cdn -->
            <script src="https://code.jquery.com/jquery-3.5.1.js"
              integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
              crossorigin="anonymous"></script>

            <script type="text/javascript">
            $(document).on('submit','#addGainers-form',function(e)
                       {
            console.log('hello');
            e.preventDefault();
            $.ajax({
            type:'POST',
            url:'/',
            data:{
              todo:$("#addGainers").val()
            },
            success:function()
            {
              alert('saved');
            }
            })
            });
            </script>


    <span> </span>

    <h5> Selected Stock </h5>

    <div align="center">
      {% for s in selectedStock %}
      {{s}}
      {% endfor %}
    </div>



</html>
