<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Stock Movers Dashboard</title>
  <!-- Import Plotly (does not have to be from CDN) -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

  <header>
    <!-- site-wide header -->
    <h1> Stock Movers Dashboard </h1>
  </header>

  <main>
    <!-- this page’s main content -->

    <span> </span>



    <div class = "grid-container">

        <div class = "grid-child one" id="plotly-timeseries">
          <!-- <h3> Top 25 Gainers </h3> -->
          <script>
            var graph = {{ plot_json | safe }};
            Plotly.plot('plotly-timeseries', graph, {});
          </script>
        </div>


        <div class = "grid-child two" id = 'plotly-timeseries2'>
          <!-- <h3> Multiple Top 25 Increments </h3> -->
          <script>
            var graph2 = {{ plot_json2 | safe}};
            Plotly.plot('plotly-timeseries2', graph2, {});
          </script>
        </div>

      </div>

    <span> </span>



                <!--Jquery Cdn -->
            <script src="https://code.jquery.com/jquery-3.5.1.js"
              integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
              crossorigin="anonymous"></script>

            <script type="text/javascript">
            $(document).on('submit','#addGainers-form',function(e)
                       {
            console.log('add gainers sumbit');
            e.preventDefault();
            $.ajax({
            type:'POST',
            url:'/',
            data:{
              todo:$("#addGainers").val()
            },
            success:function()
            {
              alert('saved');
            }
            })
            });
            </script>


    <span> </span>

    <div class="grid-container2">

          <div class="grid-child-1">
            <h4> Select Gainers to add for analysis </h4>
            <form method = "POST" id="addGainers">
              <select multiple name="gainer">
                {% for g in gainer_name %}
                 <OPTION value={{g}}>{{g}}</option>
                   {% endfor %}
                 </select>
                 <div style="margin-top: .5em">
                   <button type = "submit" class = "btn btn-default"> SELECT </button>
                 </div>
            </form>
          </div>

          <div class="grid child 2">
            <h4> Add Stock Symbol Free Input </h4>
            <form method = "POST" id="userAddInput">
              <input name = "freeTextAdd">
              <div style="margin-top: .5em">
                <button type = "add" class = "btn btn-default"> SUBMIT </button>
              </div>
            </form>
          </div>

          <div class="grid child 3">
            <h4> Remove Tickers From Query List </h4>
            <form method = "POST" id="deleteStock">
              <select multiple name="stockRemove" method="POST" action="/">
              {% if selectedStock %}
              {% for stock in selectedStock %}
                  <option value="{{stock}}" SELECTED>{{stock}}</option>"
              {% endfor %}
              {% endif %}
              </select>
              <div style="margin-top: .5em">
                <button type = "delete" class = "btn btn-default"> DELETE </button>
              </div>
            </form>
          </div>

          <div class="grid child 4">
            <h4> Selected Stock </h4>
              {% if selectedStock %}
                  {% for s in selectedStock %}
                    <h5> {{s}} </h5>
                  {% endfor %}
              {% endif %}
          </div>

    </div>


    <script type="text/javascript">
    $(document).on('submitGraph','#graphSelect-form',function(e)
               {
    console.log('graph select submitted');
    e.preventDefault();
    $.ajax({
    type:'POST',
    url:'/',
    data:{
      todo:$("#graphSelect").val()
    },
    success:function()
    {
      alert('saved');
    }
    })
    });
    </script>

    <div align="center">
      <form method = "POST" id="graphSelect">
        <select name="graphType">
          <option value="graph1">Graph Type 1</option>
          <option value="graph2">Graph Type 2</option>
          <option value="graph3">Graph Type 3</option>
        </select>
        <div style="margin-top: .5em">
          <button type = "submitGraph" class = "btn btn-default"> SUBMIT </button>
        </div>
      </form>
    </div>

    <div align="center">
      {% if graphSelect %}
        <h5> {{graphSelect}} </h5>
      {% endif %}
    </div>


    <script type="text/javascript">
    $(document).on('delete','#deleteStock-form',function(e)
               {
    console.log('delete stock requested');
    e.preventDefault();
    $.ajax({
    type:'POST',
    url:'/',
    data:{
      todo:$("#stockRemove").val()
    },
    success:function()
    {
      alert('saved');
    }
    })
    });
    </script>



      <script type="text/javascript">
      $(document).on('submit','#userAddInput-form',function(e)
                 {
      console.log('user inputted add gainers');
      e.preventDefault();
      $.ajax({
      type:'POST',
      url:'/',
      data:{
        todo:$("#freeTextAdd").val()
      },
      success:function()
      {
        alert('saved');
      }
      })
      });
      </script>


</html>
